body {
  font-size: 16px;
  font-family: "Oxygen", sans-serif;
  color: #fff;
  background-color: #457b9d;
}
a {
  text-decoration: none;
}
header {
  background-color: #1d3557;
}
header .navbar {
  padding-bottom: 0;
}
header nav .container-fluid {
  padding: 0;
}
header h1 {
  color: #fff;
  margin-left: 40px;
}
header nav ul {
  display: none;
  background-color: #31587a;
}
header nav ul li {
  border-bottom: 1px solid #457b9d;
}
header nav ul li a {
  display: block;
  padding: 15px 0;
}
header nav ul li a,
header nav ul li a:hover {
  color: #fff;
}
header nav ul a:hover {
  background: #e63946;
  cursor: pointer;
}

#checken-tile div {
  padding-top: 30px;
  margin: auto;
  color: #333;
  background-color: #a8dadc;
}
#checken-tile div p {
  padding: 0 20px;
}
#checken-tile h3 {
  margin-bottom: 10px;
  font-weight: 700;
}
@media (min-width: 768px) {
  header nav ul {
    display: none !important;
  }
}
